@import "../../stylesheets/Variables.scss";

.vote {
    .vote-link {

        border: solid 1px #c5c5c5;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .description {
            width: 70%;
            display: inline-block;
            text-align: center;
            vertical-align: top;
        }

        img {
            width: 30%;
            vertical-align: bottom;
        }
    }
}
