@import "../../../stylesheets/Variables.scss";

.newslist {

    .type {
        padding: 0.5rem;
        color: white;
        border-bottom: solid 0.25rem rgba(0, 0, 0, 0.35);
    }

    .general {
        background-color: #b20047;
    }

    .development {
        background-color: #ff4c4c;
    }

    .event {
        background-color: #7519ff;
    }

    .community {
        background-color: #2e5ce6;
    }

    h2 {
        font-size: 1.5rem;
        font-family: $secondary-font;
        margin: 0.5rem 0;
    }

    .meta-data {
        font-size: 0.8rem;
        font-family: $secondary-font;
        margin: 0.5rem 0;
        font-weight: 500;
    }

    .content {
        font-size: 0.9rem;
    }

    .newslist-post {
        margin-bottom: 2rem;
        border: solid 1px #cbd0ff;
        background-color: #fcfbff;

        &:hover {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 14px 0 rgba(0, 0, 0, 0.1);
            background-color: #f6f7ff;

            h2 {
                color: #384092;
            }
        }
    }

    .newslist-image {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        overflow-x: hidden;

        img {
            width: 110%;
        }
    }

    .newslist-information {
        width: 70%;
        display: inline-block;
        padding: 0 1rem;
        box-sizing: border-box;
    }
}
