@import "../../../stylesheets/Variables.scss";

.newslist {
    .type {
        padding: 0.5rem;
        color: white;
        border-bottom: solid 0.25rem rgba(0, 0, 0, 0.35);
        margin-top: -25px;
        position: relative;
    }

    .general {
        background-color: #b20047;
    }

    .announcement {
        background-color: #ff4c4c;
    }

    .event {
        background-color: #7519ff;
    }

    .community {
        background-color: #2e5ce6;
    }

    .update {
        background-color: #1fa93b;
    }

    h2 {
        font-size: 1.5rem;
        font-family: $secondary-font;
        margin: 0.25rem 0;
        height: 2rem;
        overflow: hidden;
    }

    .meta-data {
        font-size: 0.8rem;
        font-family: $secondary-font;
        margin: 0.25rem 0 0.5rem;
        font-weight: 500;
    }

    .views {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0.4rem;
        font-size: 0.4rem;
        background: rgba(255, 255, 255, 0.75);
        color: black;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 0.7rem;
        text-transform: uppercase;
    }

    .read-me {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 0.7rem;
        text-transform: uppercase;
    }

    .content {
        font-size: 0.9rem;
        font-family: $secondary-font;
    }

    .newslist-post {
        margin-bottom: 2rem;
        border: solid 1px #cbd0ff;
        background-color: #fcfbff;
        position: relative;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 14px 0 rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: #f6f7ff;

            h2, .read-me {
                color: #384092;
            }
        }
    }

    .newslist-image {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        overflow-x: hidden;

        img {
            width: 110%;
        }
    }

    .newslist-information {
        width: 75%;
        display: inline-block;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    @media (max-width: $mobile) {
        .newslist-image {
            width: 100%;
        }

        .newslist-information {
            width: 100%;
            padding: 1rem;
        }
    }
}
