@import "../../../stylesheets/Variables.scss";

.prompts {
    position: absolute;
    margin-top: 1.5rem;
    right: calc(50% - #{$half-body-width});
    z-index: 1;

    .join,
    .login,
    .popup,
    .reset {
        background-color: rgba(0, 0, 0, 0.25);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    form {
        width: 20rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: #52b07f;
        color: white;
        border-radius: 4px;
        border: solid 2px #45946b;
    }

    label {
        display: block;
        font-family: $secondary-font;

        div & {
            margin-top: 1rem;
            margin-bottom: 0.25rem;
        }
    }

    input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: $secondary-font;
        font-size: 1rem;
    }

    input[type=submit] {
        background-color: #3498db;
        color: white;
        padding: 1rem;
        margin: 0.5rem 0;
        border: solid 1px #2980b9;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #2980b9;
    }

    .prompt-title {
        text-align: center;
        font-size: 2rem;
        font-family: $secondary-font;
    }

    .prompt-close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        cursor: pointer;
        padding: 0 0.75rem 0.25rem;
        border-bottom-left-radius: 4px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    .prompt-button {
        font-family: $secondary-font;
        padding: 0.5rem 1rem;
        background-color: #424caf;
        margin: 0 0.5rem;
        border-radius: 0.25rem;
        color: white;
        border: solid 1px #333b8a;
        cursor: pointer;

        &:hover {
            background-color: #333b8a;
        }
    }

    .alert {
        padding: 0.5rem;
        color: black;
        background-color: #ffb900;
        margin-top: 1rem;
        border-radius: 4px;
        font-family: $secondary-font;
        text-align: center;
        font-size: 0.9rem;
    }

    .button {
        div & {
            margin-top: 1rem;
        }
    }
    
    @media (max-width: $mobile) {
        right: 0%;
    }
}
