@import "../../../stylesheets/Variables.scss";

.prompts {
    position: absolute;
    top: 1rem;
    right: 3rem;
}

.prompt-button {
    font-family: $secondary-font;
    padding: 0.5rem 1rem;
    background-color: #52c9ff;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    color: white;
    border: solid 1px #3db4ea;

    &:hover {
        background-color: #3db4ea;
    }
}
