@import "../../../stylesheets/Variables.scss";

.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
    font-size: 0.9rem;
    font-family: $primary-font;

    li {
        display: inline;
    }

    a {
        padding: 1rem;
        display: inline-block;
        transition: background-color 0.25s;
        color: white;
        min-width: 5.5rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
