@import "../../../stylesheets/Variables.scss";

.active {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
    font-size: 0.9rem;

    a {
        padding: 1rem;
        display: inline-block;
        transition: background-color 0.25s;
        color: white;
        min-width: 4rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
