@import "../../../stylesheets/Variables.scss";

.links {
    text-align: center;
    font-size: 0.9rem;
    font-family: $primary-font;
    background-color: #8e8eff;

    .active {
        background-color: rgba(0, 0, 0, 0.1);
    }

    ul {
        display: flex;
        width: $body-width;
        margin: auto;

        @media (max-width: $mobile) {
            width: 100%;
        }
     }

    li {
        flex: 1;
        text-align: center;
    }

    a {
        padding: 1rem 0;
        flex: 1;
        display: block;
        transition: background-color 0.25s;
        color: white;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
