@import "../../../stylesheets/Variables.scss";

.banner {
    position: relative;
    max-height: 15rem;
    overflow: hidden;

    img {
        width: 100%;
    }

    div {
        position: absolute;
        top: 10rem;
        left: 0;
        width: 100%;
        display: inline-block;
    }

    h1 {
        font-family: $secondary-font;
        font-weight: bold;
        width: $body-width;
        margin: auto;
        font-size: 3rem;
    }
}
