@import "../../../stylesheets/Variables.scss";

.pagination {
    margin-bottom: 2rem;
    text-align: center;

    .current {
        background-color: #408789;
    }

    ul {
        background-color: #8dc79e;
        display: inline-block;
        border: solid 2px #408789;
    }

    li {
        display: inline;
        text-align: center;
        width: 100%;
    }

    a {
        padding: 1rem 1.5rem;
        min-width: 6rem;
        display: inline-block;
        color: white;

        &:not(.current):hover {
            background-color: #5fa795;
        }
    }
}
