@import "../../stylesheets/Variables.scss";

.control-panel {

    input[type="text"] {
        font-size: 1rem;
        margin-right: 1rem;
        padding: 0.15rem;
        width: 37.7rem;;
    }

    .new, .update-button {
        color: white;
        padding: 0.25rem 1rem;
        background-color: #424caf;
        border-radius: 0.25rem;
        border: solid 1px #333b8a;
        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
            background-color: #333b8a;
        }
    }
}
