@import "../../stylesheets/Variables.scss";

.control-panel {

    input[type="text"] {
        font-size: 1rem;
        margin-right: 1rem;
        padding: 0.15rem;
        width: 40rem;
    }

    .new, .update-button {
        color: white;
        padding: 0.25rem 1rem;
        background-color: #424caf;
        border-radius: 0.25rem;
        border: solid 1px #333b8a;
        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
            background-color: #333b8a;
        }
    }

    .control-panel-alert {
        margin-bottom: 1rem;
    }

    .control-panel-posts {
        margin-top: 1rem;
    }

    .control-panel-post {
        margin-bottom: 0.5rem;
        line-height: 1.5;
        padding: 0.5rem 0;
        border-bottom: solid 1px lightgray;

        a:hover {
            color: #ea706d;
        }

        span {
            font-family: $secondary-font;
            font-size: 1rem;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
        }

        .title {
            width: 70%;
            font-family: $secondary-font;
        }

        .author {
            width: 10%;
        }

        .date {
            width: 10%;
        }

        .delete {
            width: 10%;
            color: red;
            border: solid 1px red;
            border-radius: 0.25rem;
            font-size: 0.75rem;
            padding: 0.1rem;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: red;
                color: white;
            }
        }
    }
}
