@import "../../stylesheets/Variables.scss";

$width: 30rem;

.popup-content {
    position: absolute;
    width: $width;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: #52b07f;
    color: white;
    border-radius: 4px;
    border: solid 2px #45946b;
    right: calc(50% - #{$width});
}

.prompt-text {
    margin-top: 1rem;
    font-family: $secondary-font;
    text-align: center;
}
