@import "../../../stylesheets/Variables.scss";

.category {

    margin-bottom: 2rem;

    li {
        display: inline-block;
        background-color: lightblue;
        border: solid 1px #7dbfd4;
        border-radius: 4px;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        cursor: pointer;

        a {
            display: block;
            padding: 0.5rem 1rem;
        }

        &:hover {
            background-color: #7dbfd4;
        }
    }

    .active {
        background-color: #7dbfd4;
    }
}
