@import "../../../stylesheets/Variables.scss";

.more {
    background-color: #c7d4ff;
    border-radius: 0.25rem;
    margin-bottom: 2rem;

    &:hover {
        background-color: #b0c3ff;
    }

    a {
        display: block;
        padding: 1rem;
        text-align: center;
        font-family: $secondary-font;
    }
}
