@import "../../../stylesheets/Variables.scss";

.more {
    background-color: #eaefff;
    border-radius: 0.5rem;
    border: solid 1px #8faaff;
    margin-bottom: 2rem;

    &:hover {
        background-color: #cdd9ff;
    }

    a {
        display: block;
        padding: 1rem;
        text-align: center;
        font-family: $secondary-font;
    }
}
