@import "../../stylesheets/Variables.scss";

$width: 20rem;

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);

    .modal-content {
        position: absolute;
        width: $width;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: #52b07f;
        color: white;
        border-radius: 4px;
        border: solid 2px #45946b;
        right: calc(50% - #{$width});
    }

    .modal-close {
        display: inline-block;
        float: right;
        margin-top: -0.25rem;
        border-radius: 0.25rem;
        padding: 0 0.3rem 0.1rem;
        cursor: pointer;
        background-color: #45946b;

        &:hover {
            background-color: #39825c;
        }
    }

    .modal-title {
        text-align: center;
        font-size: 2rem;
    }

    .modal-text {
        margin-top: 1rem;
        font-family: $secondary-font;
        text-align: center;
    }

    .modal-ok-button {
        display: inline-block;
        text-transform: uppercase;
        background-color: #45946b;
        padding: 0.5rem 2rem;
        border-radius: 0.25rem;
        margin-top: 0.5rem;
        float: right;
        cursor: pointer;

        &:hover {
            background-color: #39825c;
        }
    }
}
