@import "Fonts.scss";
@import "Reset.scss";

@import "Variables.scss";

@import "../components/navigation/header/Header.scss";
@import "../components/navigation/banner/Banner.scss";
@import "../components/navigation/links/Links.scss";
@import "../components/navigation/prompts/Prompts.scss";
@import "../components/navigation/pagination/Pagination.scss";

@import "../components/footer/Footer.scss";
@import "../components/social/discord/Discord.scss";

@import "../components/home/Home.scss";
@import "../components/home/status/Status.scss";

@import "../components/join/Join.scss";
@import "../components/login/Login.scss";
@import "../components/news/News.scss";
@import "../components/post/Post.scss";
@import "../components/rankings/Rankings.scss";

main {
    width: $body-width;
    margin: auto;
    font-family: $primary-font;
}
