@import "Fonts.scss";
@import "Reset.scss";

@import "Variables.scss";

@import "../components/about/About.scss";
@import "../components/adminpanel/AdminPanel.scss";
@import "../components/adminpanel/settings/Settings.scss";
@import "../components/adminpanel/postmanager/PostManager.scss";
@import "../components/disclaimer/Disclaimer.scss";
@import "../components/downloads/Downloads.scss";
@import "../components/footer/Footer.scss";
@import "../components/greeting/Greeting.scss";

@import "../components/home/Home.scss";
@import "../components/home/status/Status.scss";

@import "../components/join/Join.scss";
@import "../components/loading/Loading.scss";
@import "../components/login/Login.scss";
@import "../components/modal/Modal.scss";

@import "../components/navigation/alert/Alert.scss";
@import "../components/navigation/banner/Banner.scss";
@import "../components/navigation/category/Category.scss";
@import "../components/navigation/header/Header.scss";
@import "../components/navigation/links/Links.scss";
@import "../components/navigation/more/More.scss";
@import "../components/navigation/pagination/Pagination.scss";
@import "../components/navigation/prompts/Prompts.scss";

@import "../components/news/News.scss";
@import "../components/news/newslist/Newslist.scss";

@import "../components/popup/Popup.scss";

@import "../components/post/Post.scss";
@import "../components/post/editor/Editor.scss";
@import "../components/promo/Promo.scss";

@import "../components/rankings/Rankings.scss";
@import "../components/rankings/player/Player.scss";
@import "../components/rankings/rankingslist/Rankingslist.scss";

@import "../components/social/discord/Discord.scss";

@import "../components/vote/Vote.scss";

body {
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

main {
    width: $body-width;
    min-height: 50vh;
    display: block;
    padding: 0 calc(50% - #{$half-body-width}) 3rem;
    font-family: $primary-font;
    flex: 1 0 auto;
    padding-top: 2rem;
    background-color: rgba(255, 255, 255, 0.9);

    @media (max-width: $mobile) {
        width: 100% !important;
        padding: 1rem 0.5rem !important;
        box-sizing: border-box;
    }
}
