body,
html {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    vertical-align: middle;
}

iframe {
    border: none;
}
