@import "../../../stylesheets/Variables.scss";

.settings {
    .settings-alert {
        margin-bottom: 1rem;

        span {
            margin-right: 1rem;
        }
    }

    .rate {
        width: 3rem;
        display: inline-block;
    }

    input {
        margin-right: 1rem;
    }
}
