@import "../../stylesheets/Variables.scss";

.greeting {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
    font-family: $secondary-font;
    font-size: 0.9rem;
    padding: 0 calc(50% - #{$body-width / 2});
    animation-name: fade;
    animation-duration: 1s;

    @keyframes fade {
        from {
            opacity:0
        }
        to {
            opacity:1
        }
    }

    .active {
        background-color: rgba(0, 0, 0, 0.25);
    }

    .options {
        display: inline-flex;
        margin: 0 1rem;
        cursor: pointer;

        li {
            display: inline-flex;
            color: white;
            padding: 1rem;

            &:hover {
                background-color: rgba(0, 0, 0, 0.25);
            }
        }

        a {
            display: block;
        }
    }
}
