@import "../../../stylesheets/Variables.scss";

.status {
    color: white;
    margin-bottom: 2rem;

    .title {
        font-size: 2rem;
        padding: 0.25rem 0;
    }

    .online-count {
        font-size: 1.25rem;
        padding: 0.5rem 0;
    }

    .server-statuses {
        padding: 1rem;
        font-family: $secondary-font;
        font-size: 1rem;
        color: black;
        background-color: #e8e8e8;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        li {
            display: inline;
            margin-right: 1.5rem;
        }
    }

    .server-online, .server-offline {
        font-family: $primary-font;
        color: white;
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        margin-left: 0.5rem;
    }

    .server-online {
        background-color: #0d8e23;
    }

    .server-offline {
        background-color: #bb5654;
    }
}

.loading,
.offline,
.online {
    padding: 0.5rem 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.loading {
    color: black;
    border-top: solid 1rem #aaa;
}

.online {
    background-color: #11a92a;
    border-top: solid 1rem #0d8e23;
}

.offline {
    background-color: #ea706d;
    border-top: solid 1rem #bb5654;
}
