@import "../../../stylesheets/Variables.scss";

.status {
    color: white;
    margin-bottom: 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .title {
        font-size: 2rem;
        padding: 0.25rem 0;
    }

    .online-count {
        font-size: 1.25rem;
        padding: 0.5rem 0;
    }

    .icon {
        width: 20%;
        display: inline-block;
        vertical-align: top;
        margin-top: 0.5rem;
    }

    .description {
        width: 80%;
        display: inline-block;
        box-sizing: border-box;
        padding-left: 2rem;
    }
}

.loading,
.offline,
.online {
    padding: 1rem 2rem 1.5rem;
    border-radius: 4px;
}

.loading {
    color: black;
    background-color: #ddd;
    border-top: solid 1rem #aaa;
}

.online {
    background-color: #11a92a;
    border-top: solid 1rem #0d8e23;
}

.offline {
    background-color: #ea706d;
    border-top: solid 1rem #bb5654;
}

.server-statuses {
    padding: 1rem;
    padding-bottom: 0;
    font-family: $secondary-font;
    font-size: 0.75rem;
    color: black;
    background-color: #e8e8e8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 3rem;

    li {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border: solid 1px #bdbdbd;
        padding: 0.5rem;
        border-radius: 0.3rem;
    }

    .server-offline,
    .server-online {
        padding: 5px;
        border-radius: 50%;
        margin-left: 0.5rem;
        display: inline-block;
    }

    .server-online {
        background-color: #0d8e23;
    }

    .server-offline {
        background-color: #bb5654;
    }
}
