@import "../../stylesheets/Variables.scss";

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;
    font-family: $primary-font;
    padding: 2rem 0;
}
