@import "../../stylesheets/Variables.scss";

.join {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    form {
        width: 20rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: #b05452;
        color: white;
    }

    label {
        display: block;
    }

    input {
        width: 100%;
    }
}
