@import "../../stylesheets/Variables.scss";

.news {
    h2 {
        font-size: 1.5rem;
        font-family: $secondary-font;
    }

    .meta-data {
        font-family: $primary-font;
        font-size: 1rem;
        margin: 1rem 0;
    }

    .content {
        font-family: $primary-font;
    }

    .newslist-post {
        margin-bottom: 2rem;
    }
}
